Repository asmtal/DevOps-5, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran, @somebody-a, @somebody-b, @somebody-c, @somebody-d

mvp demo readiness
  deploy-as-code/helm/charts/cap/api-service/values.yaml
  deploy-as-code/helm/charts/common/templates/_deployment.yaml
  deploy-as-code/helm/charts/common/values.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
Owners: none

Update staging.yaml
  deploy-as-code/helm/environments/staging.yaml
Owners: @somebody-c

Differed Variable Referencing
  deploy-as-code/helm/charts/cap/api-service/values.yaml
Owners: none

Differed Variable Referencing
  deploy-as-code/helm/charts/cap/api-service/values.yaml
Owners: none

Value Referencing Changes
  deploy-as-code/helm/charts/cap/api-service/values.yaml
Owners: none

Correcting the default values
  deploy-as-code/helm/charts/common/templates/_deployment.yaml
  deploy-as-code/helm/charts/core/bills/values.yaml
  deploy-as-code/helm/environments/staging.yaml
Owners: @somebody-c

Fixing the manifests
  deploy-as-code/helm/charts/cap/api-service/values.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/common-secrets.yaml
  deploy-as-code/helm/charts/common/templates/_deployment.yaml
  deploy-as-code/helm/charts/common/templates/_service.yaml
  deploy-as-code/helm/charts/common/values.yaml
  deploy-as-code/helm/charts/core/bills/templates/ingress.yaml
  deploy-as-code/helm/charts/core/bills/templates/servicemonitor.yaml
  deploy-as-code/helm/charts/core/bills/values.yaml
Owners: none

deployer changes for ecr
  deploy-as-code/deployer/clusterissuer.yaml
  deploy-as-code/deployer/cmd/deploy.go
  deploy-as-code/deployer/go.sum24932641.tmp
  deploy-as-code/deployer/pkg/cmd/deployer/deployer.go
  deploy-as-code/dockerfiles/Dockerfile-kcloud-go-lang
  deploy-as-code/dockerfiles/Dockerfile-kcloud-php-common
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/jenkins-secret.yaml
  deploy-as-code/helm/charts/common/values.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
Owners: @gajendran

deployer changes for ecr
  deploy-as-code/deployer/Dockerfile
Owners: @gajendran

new deployer changes for ecr kaleyra
  deploy-as-code/deployer/Dockerfile
  deploy-as-code/deployer/cmd/deploy.go
  deploy-as-code/deployer/go.mod
  deploy-as-code/deployer/go.sum
Owners: @gajendran

CODEOWNERS:

ci-as-code/* @gajendran
deploy-as-code/helm/.sops.yaml @gajendran
deploy-as-code/deployer/* @gajendran

##Internal Env####
deploy-as-code/helm/environments/qa*.yaml @somebody-a
deploy-as-code/helm/environments/uat*.yaml @somebody-b
deploy-as-code/helm/environments/staging*.yaml @somebody-c
deploy-as-code/helm/environments/dev*.yaml @somebody-d
