Repository asmtal/DevOps-5, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran, @somebody-a, @somebody-b, @somebody-c, @somebody-d

CODEOWNERS:

ci-as-code/* @gajendran
deploy-as-code/helm/.sops.yaml @gajendran
deploy-as-code/deployer/* @gajendran

##Internal Env####
deploy-as-code/helm/environments/qa*.yaml @somebody-a
deploy-as-code/helm/environments/uat*.yaml @somebody-b
deploy-as-code/helm/environments/staging*.yaml @somebody-c
deploy-as-code/helm/environments/dev*.yaml @somebody-d

Clean up
  infra-as-code/terraform/clusters/cicd/.terraform.lock.hcl
  infra-as-code/terraform/clusters/cicd/cluster-merge
  infra-as-code/terraform/clusters/cicd/main.tf
  infra-as-code/terraform/clusters/cicd/outputs.tf
  infra-as-code/terraform/clusters/cicd/remote-state/.terraform.lock.hcl
  infra-as-code/terraform/clusters/cicd/remote-state/main.tf
Owners: none

Clean up
  deploy-as-code/helm/.sops.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
  deploy-as-code/helm/environments/ci.yaml
  deploy-as-code/helm/environments/dev-secrets.yaml
  deploy-as-code/helm/environments/dev.yaml
  deploy-as-code/helm/environments/qa-secrets.yaml
  deploy-as-code/helm/environments/qa.yaml
  deploy-as-code/helm/environments/staging-secrets.yaml
  deploy-as-code/helm/environments/staging.yaml
  deploy-as-code/helm/environments/uat-secrets.yaml
  deploy-as-code/helm/environments/uat.yaml
Owners: @gajendran, @somebody-d, @somebody-a, @somebody-c, @somebody-b

Clean up
  deploy-as-code/README.md
Owners: none

Fix: Adding Jenkins Chart
  deploy-as-code/helm/charts/general/jenkins/values.yaml
Owners: none

Fix: Adding Jenkins Chart
  deploy-as-code/helm/charts/general/jenkins/values.yaml
  deploy-as-code/helm/environments/ci.yaml
Owners: none

Fix: Jenkins ECR and GIT Token
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/jenkins-secret.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
Owners: none

Fix: Jenkins ECR and GIT Token
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/jenkins-secret.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
Owners: none

Adding cert manager chart
  deploy-as-code/helm/charts/general/cert-manager/.helmignore
  deploy-as-code/helm/charts/general/cert-manager/Chart.yaml
  deploy-as-code/helm/charts/general/cert-manager/crds/cert-manager-crds.yaml
  deploy-as-code/helm/charts/general/cert-manager/templates/_helpers.tpl
  deploy-as-code/helm/charts/general/cert-manager/templates/clusterissuer.yaml
  deploy-as-code/helm/charts/general/cert-manager/templates/clusterrole.yaml
  deploy-as-code/helm/charts/general/cert-manager/templates/clusterrolebinding.yaml
  deploy-as-code/helm/charts/general/cert-manager/templates/deployment.yaml
  deploy-as-code/helm/charts/general/cert-manager/templates/serviceaccount.yaml
  deploy-as-code/helm/charts/general/cert-manager/values.yaml
Owners: none

Adding kaniko chart
  deploy-as-code/helm/charts/general/kaniko-cache-warmer/Chart.yaml
  deploy-as-code/helm/charts/general/kaniko-cache-warmer/templates/cronjob.yaml
  deploy-as-code/helm/charts/general/kaniko-cache-warmer/templates/persistentvolume.yaml
  deploy-as-code/helm/charts/general/kaniko-cache-warmer/templates/persistentvolumeclaim.yaml
  deploy-as-code/helm/charts/general/kaniko-cache-warmer/values.yaml
Owners: none

Fix: PVC jenkins chart
  deploy-as-code/helm/environments/ci.yaml
Owners: none

Fix: PVC size jenkins chart
  deploy-as-code/helm/environments/ci.yaml
Owners: none

Fix: PVC size jenkins chart
  deploy-as-code/helm/environments/ci.yaml
Owners: none

Test Jenkins oauth
  deploy-as-code/helm/charts/general/jenkins/values.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
  deploy-as-code/helm/environments/ci.yaml
Owners: none

cert manager changes
  deploy-as-code/helm/charts/general/cert-manager/values.yaml
  deploy-as-code/helm/environments/ci.yaml
Owners: none

cert manager changes
  deploy-as-code/helm/charts/cluster-configs/values.yaml
  deploy-as-code/helm/charts/general/cert-manager/values.yaml
Owners: none

cert manager upgrade
  deploy-as-code/helm/charts/common/values.yaml
Owners: none

new jenkins terraform
  infra-as-code/terraform/clusters/cicd/cluster-merge
  infra-as-code/terraform/clusters/jenkins/.terraform.lock.hcl
  infra-as-code/terraform/clusters/jenkins/main.tf
  infra-as-code/terraform/clusters/jenkins/outputs.tf
  infra-as-code/terraform/clusters/jenkins/providers.tf
  infra-as-code/terraform/clusters/jenkins/remote-state/.terraform.lock.hcl
  infra-as-code/terraform/clusters/jenkins/remote-state/main.tf
  infra-as-code/terraform/clusters/jenkins/remote-state/terraform.tfstate.backup
  infra-as-code/terraform/clusters/jenkins/variables.tf
Owners: none

fresh jenkins
  deploy-as-code/helm/charts/general/jenkins/values.yaml
  deploy-as-code/helm/environments/ci.yaml
Owners: none

upgrading cert manager
  deploy-as-code/helm/charts/general/jenkins/values.yaml
Owners: none

update cert manager
  deploy-as-code/helm/charts/general/cert-manager/values.yaml
Owners: none

modified cicd tf
  infra-as-code/terraform/clusters/cicd/.terraform.lock.hcl
  infra-as-code/terraform/clusters/cicd/main.tf
  infra-as-code/terraform/clusters/cicd/outputs.tf
  infra-as-code/terraform/clusters/cicd/remote-state/.terraform.lock.hcl
  infra-as-code/terraform/clusters/cicd/variables.tf
  infra-as-code/terraform/modules/kubernetes/aws/network/main.tf
  infra-as-code/terraform/modules/node-pool/aws/main.tf
Owners: none

removed tf files
  infra-as-code/terraform/clusters/cicd/.terraform.lock.hcl
Owners: none

modified cicd tf
  infra-as-code/terraform/clusters/cicd/main.tf
  infra-as-code/terraform/clusters/cicd/variables.tf
Owners: none

update terraform scripts
  deploy-as-code/deployer/clusterissuer.yaml
  deploy-as-code/helm/.sops.yaml
  deploy-as-code/helm/charts/common/values.yaml
  deploy-as-code/helm/charts/general/jenkins/values.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
  deploy-as-code/helm/environments/ci.yaml
  infra-as-code/terraform/clusters/cicd/.terraform.lock.hcl
  infra-as-code/terraform/clusters/cicd/cluster-merge
  infra-as-code/terraform/clusters/cicd/kubeconfig_kal-cicd
  infra-as-code/terraform/clusters/cicd/main.tf
  infra-as-code/terraform/clusters/cicd/outputs.tf
  infra-as-code/terraform/clusters/cicd/remote-state/.terraform.lock.hcl
  infra-as-code/terraform/clusters/cicd/remote-state/main.tf
  infra-as-code/terraform/clusters/cicd/remote-state/terraform.tfstate.backup
  infra-as-code/terraform/clusters/cicd/variables.tf
Owners: @gajendran

update terraform scripts
  infra-as-code/terraform/clusters/cicd/cluster-merge
  infra-as-code/terraform/clusters/cicd/kubeconfig_kal-cicd
Owners: none

jenkins oauth with kaleyra github
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/jenkins-secret.yaml
  deploy-as-code/helm/charts/general/jenkins/values.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
  deploy-as-code/helm/environments/ci.yaml
Owners: none

jenkins ci-libs update
  deploy-as-code/helm/charts/general/jenkins/values.yaml
Owners: none

creating staging env file and secrets
  deploy-as-code/helm/charts/cap/api-service/Chart.yaml
  deploy-as-code/helm/charts/cap/api-service/requirements.lock
  deploy-as-code/helm/charts/cap/api-service/templates/deployment.yaml
  deploy-as-code/helm/charts/cap/api-service/templates/ingress.yaml
  deploy-as-code/helm/charts/cap/api-service/templates/service.yaml
  deploy-as-code/helm/charts/cap/api-service/templates/servicemonitor.yaml
  deploy-as-code/helm/charts/cap/api-service/values.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/configmaps/common-configmap.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/configmaps/core-configmap.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/common-secrets.yaml
  deploy-as-code/helm/charts/core/bills/bills-canary-values.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
  deploy-as-code/helm/environments/ci.yaml
  deploy-as-code/helm/environments/staging-secrets.yaml
  deploy-as-code/helm/environments/staging.yaml
  infra-as-code/terraform/clusters/jenkins/.terraform.lock.hcl
  infra-as-code/terraform/clusters/jenkins/main.tf
  infra-as-code/terraform/clusters/jenkins/outputs.tf
  infra-as-code/terraform/clusters/jenkins/providers.tf
  infra-as-code/terraform/clusters/jenkins/remote-state/.terraform.lock.hcl
  infra-as-code/terraform/clusters/jenkins/remote-state/main.tf
  infra-as-code/terraform/clusters/jenkins/remote-state/terraform.tfstate.backup
  infra-as-code/terraform/clusters/jenkins/variables.tf
Owners: @somebody-c

Added hexa-api chart
  deploy-as-code/helm/charts/core/hexa-api/.helmignore
  deploy-as-code/helm/charts/core/hexa-api/Chart.yaml
  deploy-as-code/helm/charts/core/hexa-api/templates/_helpers.tpl
  deploy-as-code/helm/charts/core/hexa-api/templates/deployment.yaml
  deploy-as-code/helm/charts/core/hexa-api/templates/service.yaml
  deploy-as-code/helm/charts/core/hexa-api/values.yaml
Owners: none

tidy hexa-api chart
  deploy-as-code/helm/charts/core/hexa-api/Chart.yaml
Owners: none

Values.appName
  deploy-as-code/helm/charts/core/hexa-api/templates/deployment.yaml
Owners: none

yaml refactor
  deploy-as-code/helm/charts/core/hexa-api/.helmignore
  deploy-as-code/helm/charts/core/hexa-api/Chart.yaml
  deploy-as-code/helm/charts/core/hexa-api/templates/_helpers.tpl
  deploy-as-code/helm/charts/core/hexa-api/templates/deployment.yaml
  deploy-as-code/helm/charts/core/hexa-api/templates/service.yaml
  deploy-as-code/helm/charts/core/hexa-api/values.yaml
Owners: none

temp-changes
  deploy-as-code/helm/charts/common/templates/_deployment copy.yaml_back
  deploy-as-code/helm/charts/common/templates/_deployment.yaml
  deploy-as-code/helm/charts/common/templates/_service copy.yaml_back
  deploy-as-code/helm/charts/common/templates/_service.yaml
  deploy-as-code/helm/charts/common/values.yaml
  deploy-as-code/helm/charts/common/values.yaml_back
Owners: none

return to base
  deploy-as-code/helm/charts/common/templates/_deployment copy.yaml
  deploy-as-code/helm/charts/common/templates/_deployment.yaml
  deploy-as-code/helm/charts/common/templates/_service copy.yaml
  deploy-as-code/helm/charts/common/templates/_service.yaml
  deploy-as-code/helm/charts/common/values.yaml
  deploy-as-code/helm/charts/common/values.yaml_back
Owners: none

name fixes
  deploy-as-code/helm/charts/common/templates/_deployment.yaml
  deploy-as-code/helm/charts/common/templates/_service.yaml
Owners: none

initial changes
  deploy-as-code/helm/charts/common/templates/_cronjob.yaml
  deploy-as-code/helm/charts/common/templates/_deployment.yaml
  deploy-as-code/helm/charts/common/templates/_ingress.yaml
  deploy-as-code/helm/charts/common/templates/_servicemonitor.yaml
  deploy-as-code/helm/charts/common/templates/_vpa.yaml
  deploy-as-code/helm/charts/common/values.yaml
Owners: none

Added Dockerfiles
  deploy-as-code/dockerfiles/Dockerfile-kcloud-go-lang
  deploy-as-code/dockerfiles/Dockerfile-kcloud-php-common
  deploy-as-code/helm/charts/cap/api-service/values.yaml
Owners: none

patch
  deploy-as-code/dockerfiles/Dockerfile-kcloud-php-common
Owners: none

Api-Service: Added Values in Yaml
  deploy-as-code/helm/charts/cap/api-service/templates/ingress.yaml
  deploy-as-code/helm/charts/cap/api-service/templates/servicemonitor.yaml
  deploy-as-code/helm/charts/cap/api-service/values.yaml
Owners: none

needs some changes
  deploy-as-code/helm/charts/cap/api-service/values.yaml
Owners: none
